{% extends 'base.html.twig' %}

{% block title %}La carte - Le Quai Antique {% endblock %}

{% block body %}

 <div class="text-center" >
        <div class="title-2">
            <div class="col"><img src="{{ asset('assets/pictures/Home.png') }}" width="1450" height="400"/></div>
        </div>
        </div>      
    </div>
    <hr>
<h1 class="titre"> Notre Carte </h1>
<hr>
<h1 class="text-center">ME</h1>
<p class="text-center">LE QUAI ANTIQUE</p>
<h1 class="text-center">NU</h1>
<hr>

 {% for card in card %}

<div class="text-center">
 <div class="titre">
<h4> {{ card.name }}</h4>
</div>
<h6> {{ card.subtitle }}</h6>
<span> {{ card.description }}</span>
<span class="card-price">{{ ( card.price / 100 ) | number_format(2, ',', '.')}} €</span> 
</div>
 {% endfor %} 
    
{% endblock %}
